.containerMainLogin {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}

.containerImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}

.containerImage img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.containerLogin {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    background-color: #fff;
    padding: 3.125rem 2.5rem;
    border-radius: 1.125rem;
}

.errorText {
    color: #dc2626;
    font-size: 0.875rem;
    font-weight: 500;
}

.title {
    font-size: 2.75rem;
    font-weight: 600;
}

.text {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 0.25rem;
    color: #6b7280;
}

.containerForm {
    margin-top: 2rem;
}

.label {
    font-size: 1rem;
    font-weight: 500;
}

.input {
    width: 100%;
    border-width: 0.125rem;
    border-color: #f3f4f6;
    border-radius: 0.75rem;
    border-style: solid;
    padding: 1rem;
    margin-top: 0.25rem;
    background-color: transparent;
    font-size: 1rem;
}

.containerForgotPassword {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.6rem;
}

.btnForgotPassword {
    font-size: 1rem;
    font-weight: 400;
    color: #51158c;
    cursor: pointer;
    background: transparent;
    border: none;
}

.btnSignIn {
    width: 100%;
    padding: 0.75rem 0;
    margin-top: 2.125rem;
    border-radius: 0.4rem;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #009345;
    color: #fff;
    cursor: pointer;
    border: none;
    transition-duration: 75ms;
    transition: ease-in-out;
}

.btnSignIn:active {
    transform: scale(0.98);
}

.btnSignIn:hover {
    background-color: #007a34;
}
