.containerMainLogin {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.containerImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}

.containerImage img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.containerLogin {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formLogin {
    width: 90%;
    background-color: #fff;
    padding: 3rem 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e5e5;
}

.errorText {
    color: #dc2626;
    font-size: 0.875rem;
    font-weight: 400;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    color: #171717;
}

.text {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
    color: #737373;
}

.containerForm {
    margin-top: 2rem;
}

.label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #171717;
}

.input {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 0.375rem;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
    font-size: 0.875rem;
    color: #171717;
    transition: all 0.2s ease;
}

.input:focus {
    outline: none;
    border-color: #171717;
    box-shadow: 0 0 0 1px #171717;
}

.containerForgotPassword {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.6rem;
}

.btnForgotPassword {
    font-size: 0.875rem;
    font-weight: 400;
    color: #737373;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: color 0.2s ease;
}

.btnForgotPassword:hover {
    color: #171717;
}

.btnSignIn {
    width: 100%;
    padding: 0.75rem 0;
    margin-top: 2rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #171717;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #171717;
    transition: all 0.2s ease;
}

.btnSignIn:active {
    transform: scale(0.98);
}

.btnSignIn:hover {
    background-color: #404040;
    border-color: #404040;
}
